@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.mainActusPageContainer {
  display: flex;
}

.textActus {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10%;
}

.actusdescription {
  display: flex;
  font-family: 'Roboto', sans-serif;
  padding: 4%;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
  font-weight: bold;
}
.actustitle {
  font-family: 'Open Sans', sans-serif;
}

.actionImg {
  width: 55vw;
}

.engagementContainer {
  height: 12vh;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  width: 66%;
  text-align: center;
  margin-bottom: 8vh;
  margin-top: 3vh;
}

.engagement {
  font-family: 'Open Sans', sans-serif;
}

.explications {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 20vh;
  text-align: initial;
}

.explicationstitle {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color: #37c948;
}

.explicationsTable {
  justify-content: space-evenly;
  height: 14vh;
  display: flex;
  flex-direction: column;
}

.camembertTitle {
  margin-top: 8%;
}

.camembertDescription {
  display: flex;
  margin-top: 5%;
}

.leftDescription {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 5%;
}

.camembertImg {
  width: 35vw;
}

.rightDescription {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10%;
}
