.allConceptButton {
  .apparentButton {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 5px;
    background-color: white;
    img {
      width: 2.7vw;
      background-color: inherit;
    }
    div{
      background-color: inherit;
    }
  }
  .arg {
    display: none;
  }
}

.allConceptButton:hover {
  transform: scale(1.4);
  transition: 200ms;
  cursor: default;
  border: solid 5px;
  .apparentButton {
    border:none;
  }
  .arg {
    display: flex;
    background-color: white
  }
}
