.allConceptButton {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .apparentButton {
    display: flex;
    align-items: center;
    border: solid 5px;
    background-color: white;
    width: 100%;
    justify-content: flex-start;

    img {
      width: 2.7vw;
      background-color: inherit;
    }
    div {
      background-color: inherit;
    }
  }
  .ulConceptBtn {
    display: none;
  }
}

.allConceptButton:hover {
  transform: scale(1.4);
  transition: 400ms;
  cursor: default;
  border: solid 5px;
  .apparentButton {
    border: none;
    font-weight: bold;
  }
  .ulConceptBtn {
    display: inline-block;
    list-style: none;
    background-color: white;
  }
  .btnConceptLi {
    background-color: white;
  }
}
