@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@600&display=swap');

.header {
  position: fixed;
  width: 100vw;
  z-index: 5;
}

.container {
  height: 8vh;
  display: flex;
  gap: 5%;
  background-color: #f3f2eb;
  padding: 0 5%;
  font-family: 'Work Sans', sans-serif;
}

.brand {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 10vw;
  cursor: pointer;
  text-decoration: none;
  color: black;

  .ImgLogo {
    height: 40%;
  }

  .logo {
    font-size: 1.5rem;
    letter-spacing: -0.5px;
    font-weight: bold;
  }
}

.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  width: 40vw;
  font-size: 0.9rem;

  a {
    text-decoration: none;
    color: black;
    cursor: pointer;
  }

  li {
    cursor: pointer;
  }
}

.buttons {
  flex-grow: 1;
  display: flex;
  gap: 5%;
  justify-content: flex-end;
  align-items: center;
  font-family: 'Work Sans', sans-serif;

  .offers {
    height: 4vh;
    width: 200px;
    border-radius: 30px;
    border: none;
    background-color: #ffbc00;
    font-size: 0.8rem;
    font-weight: bold;
    margin-right: 10%;
    cursor: pointer;
  }

  .account {
    height: 4vh;
    width: 200px;
    border: none;
    font-size: 0.8rem;
    font-weight: bold;
    margin-right: 10%;
    background-color: inherit;
    cursor: pointer;
  }
}
