@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');

.mainLoginPageContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
  justify-content: space-around;
}

.title {
  font-family: 'Open Sans', sans-serif;
}

.loginText {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  color: black;
  opacity: 0.5;
}
