@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.mainLoginPageContainer {
  display: flex;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
  margin-left: 11vw;
}

.mainText {
  display: flex;
  flex-direction: column;
  margin-top: 15vh;
  margin-bottom: 30vh;
}

.logintitle {
  display: flex;
  font-family: 'Open Sans', sans-serif;
  font-size: 2em;
  z-index: 1;
  width: 400%;
  background: none;
  margin-top: 1vh;
}

.loginText1 {
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-size: 1.1em;
  color: black;
  opacity: 0.5;
  z-index: 1;
  width: 130%;
  background: none;
  margin-top: 5vh;
}

.loginText2 {
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-size: 1.1em;
  color: black;
  opacity: 0.5;
  z-index: 1;
  width: 130%;
  background: none;
  margin-bottom: 5vh;
}

.loginForm {
  display: flex;
  flex-direction: column;
  z-index: 1;
  background: none;
}

.loginEmailLabel,
.loginEmailInput,
.loginPasswordLabel,
.loginPasswordInput {
  background-color: white;
  border: none;
  padding: 0.7vh;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
}

.loginEmailLabel,
.loginPasswordLabel {
  color: #000000;
  opacity: 60%;
}

.loginEmailInput,
.loginPasswordInput {
  color: #37c948;
}

.loginEmail,
.loginPassword {
  display: flex;
  flex-direction: column;
  border: #c1bbbb 1px solid;
  background-color: white;
  padding: 1vh;
  cursor: pointer;
  width: 30vw;
  z-index: 50;
}

.backgroundImageLogin {
  display: flex;
  z-index: 0;
  width: 43%;
  position: absolute;
  margin-bottom: 8vh;
  margin-left: 55vh;
}

.loginOptionButton {
  justify-content: space-evenly;
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-size: 0.8em;
  opacity: 60%;
  margin-top: 2vh;
  margin-bottom: 2vh;
  background: none;
}

.loginRememberMe,
.loginPasswordForgetButton {
  border: none;
  font-family: 'Roboto', sans-serif;
  opacity: 60%;
}

.loginAccountButton {
  display: flex;
  gap: 5%;
  justify-content: space-evenly;
  background: none;

  .loginConnexionButton {
    height: 4vh;
    width: 100px;
    border-radius: 30px;
    border: none;
    background-color: #37c948;
    font-size: 0.8rem;
    color: white;
    font-weight: bold;
    margin-right: 10%;
    cursor: pointer;
  }

  .loginRegisterButton {
    height: 4vh;
    width: 100px;
    border-radius: 30px;
    border: none;
    background-color: #ffbc00;
    font-size: 0.8rem;
    font-weight: bold;
    margin-right: 10%;
    cursor: pointer;
  }
}
