@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');

.mainLoginPageContainer {
  display: flex;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
  margin-left: 10vw;
}

.mainText {
  display: flex;
  flex-direction: column;
}

.logintitle {
  display: flex;
  font-family: 'Open Sans', sans-serif;
  font-size: 2em;
  z-index: 1;
}

.loginText {
  display: flex;
  font-family: 'Roboto', sans-serif;
  color: black;
  opacity: 0.5;
  z-index: 1;
}

.backgroundImageLogin {
  display: flex;
  width: 150%;
  z-index: 0;
  position: relative;
}
