@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

.mainOfferContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Work Sans', sans-serif;
  height: 80vh;
  justify-content: space-evenly;
  .RecipientLocationTitle {
    display: flex;
    justify-content: space-around;
    align-items: center;
    .RecipientLocationMainPortrait {
      .RecipientLocationPortrait {
        border-radius: 50%;
        margin-right: 2vw;
        width: 56px;
      }
    }
    .RecipientLocationTextTitle {
      .RecipientLocationPresentation {
        display: flex;
        font-family: 'work sans', sans-serif;
        font-size: 1.7em;
        font-weight: 500;
        flex-direction: row;
        .emojiHandright {
          margin-left: 1vw;
        }
      }
    }
  }
  .countersMainContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 25vh;
    .countersContainer {
      font-size: xx-large;
      display: flex;
      justify-content: space-around;
      width: 70vw;
      .ageCounterMainContainer {
        display: flex;
        flex-direction: column;
        background-color: white;
        border-radius: 10%;
        overflow: hidden;
        height: 17vh;
        width: 18vw;
        justify-content: space-evenly;
        align-items: center;
        .ageCounter {
          display: flex;
          width: 30%;
          border: solid #cacdcf 1px;
          border-radius: inherit;
          overflow: hidden;
          height: 6vh;
          justify-content: space-evenly;
          align-items: center;
          font-family: 'work sans', sans-serif;
          font-weight: 700;
          color: #525252;
          .arrowBtn {
            display: flex;
            flex-direction: column;
          }
          div {
            background-color: inherit;
          }
        }
      }
    }
  }

  .ageCounterTitle {
    font-weight: 700;
    font-size: 0.5em;
    font-family: 'work sans', sans-serif;
    background-color: inherit;
    margin-top: 1vh;
    margin-bottom: -3vh;
  }
  .ageCounterText {
    font-weight: 200;
    font-size: 0.5em;
    font-family: 'Open Sans', sans-serif;
    color: #2ad63e;
  }
}

.CountertextBulb {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.CounterIconLightBulb {
  width: 36px;
  margin-right: 2vw;
  align-items: center;
  display: flex;
}

.CounterOfferBtn {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.AgeCounterDirectionButton {
  align-items: center;
  background-color: #e0e0e0;
  display: flex;
  border: none;
  border-radius: 84px;
  padding-right: 4vw;
  padding-left: 4vw;
}
.AgeCounterDirectionIconArrow {
  margin-right: 1vw;
  margin-left: 1vw;
  background: none;
  color: #525252;
}

.AgeCounterDirectionButtonText {
  color: #525252;
  background: none;
  font-family: 'work sans', sans-serif;
  font-weight: 600;
  font-size: 1.3em;
}
.AgeCounterDirectionIconArrow {
  background: none;
}
