@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@600&display=swap');

.RecipientLocationContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.RecipientLocationTitle {
  display: flex;
  justify-content: space-around;
}

.RecipientLocationPortrait {
  border-radius: 50%;
  margin-right: 2vw;
  width: 56px;
}

.RecipientLocationPresentation {
  display: flex;
  font-family: 'work sans', sans-serif;
  font-size: 1.7em;
  font-weight: 500;
  flex-direction: row;
  .emojiHandright {
    margin-left: 1vw;
  }
}

.RecipientLocationWhereTitle {
  font-family: 'work sans', sans-serif;
  font-size: 2.7em;
  font-weight: 700;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.RecipientLocationChooseRegion {
  justify-content: center;
}

.RecipientLocationChooseRegionInput {
  color: #c4c4c3;
  background-color: white;
  border-radius: 8px;
  border: solid 1px #bdbdbd;
  font-family: 'work sans', sans-serif;
  font-size: 1.2em;
  font-weight: 500;
  padding: 1vh;
  width: 40vw;
}

.RecipientLocationText {
  font-family: 'work sans', sans-serif;
  font-size: 1.2em;
  font-weight: 500;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.RecipientLocationTextMain {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.RecipientLocationIconLightBulb {
  width: 36px;
  margin-right: 2vw;
  align-items: center;
  display: flex;
}

.RecipientLocationButtonMain {
  display: flex;
  justify-content: space-around;
  width: 100%;

  .RecipientLocationButton {
    align-items: center;
    background-color: #e0e0e0;

    display: flex;

    border: none;
    border-radius: 84px;
    margin: 2vh;
    padding-right: 4vw;
    padding-left: 4vw;
  }
  .RecipientLocationIcon {
    margin-right: 2vw;
    color: #525252;
    background: none;
  }

  .RecipientLocationButtonText {
    color: #525252;
    background: none;
    font-family: 'work sans', sans-serif;
    font-weight: 600;
    font-size: 1.3em;
  }
  .RecipientLocationIconArrow {
    background: none;
  }
}
