.tarifCardContainer {
  border: solid 5px #04ad18;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 20vw;
  height: 200%;
  justify-content: space-evenly;
  border-radius: 20%;
  background-color: white;
  font-weight: bold;
}

.tarifCardContainer:hover {
  transform: scale(1.3);
  transition-duration: 750ms;
  cursor: pointer;
}

.buttons {
  .offers {
    height: 3vh;
    width: 100px;
    border-radius: 30px;
    border: none;
    background-color: #ffbc00;
    font-size: 0.8rem;
    font-weight: bold;
  }
}

.titleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  width: 15vw;
  border-radius: 30px;
}
