.ratesMainWrapContainer {
  display: flex;
  flex-direction: column;
  // border: solid 3px #2ad63e;
  width: 25%;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 4%;
  box-shadow: 15px 20px 25px #a9a9a9;
  .formuleType {
    font-size: xx-large;
    font-weight: bold;
  }
  .formuleCount {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    .count {
      font-size: larger;
    }
  }
  .formulePrice {
    display: flex;
    flex-direction: column;
    .price {
      display: flex;
      justify-content: center;
      align-items: baseline;
      .pricePerMonth {
        font-size: xx-large;
      }
    }
    .commitment {
      opacity: 0.5;
    }
  }
}

.checkBox {
  color: #2ad63e;
  visibility: hidden;
}
