@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@600&display=swap');

.ratesMainWrapContainer {
  display: flex;
  flex-direction: column;
  width: 25%;
  align-items: center;
  justify-content: space-evenly;
  border: hidden;
  border-radius: 4%;
  box-shadow: 15px 20px 25px #a9a9a9;
  font-family: 'work sans', sans-serif;
  .formuleType {
    font-size: xx-large;
    font-weight: bold;
  }
  .formuleCount {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    .count {
      font-size: larger;
    }
    .formuleCountModify{
      display: flex;
      align-items: center;
    }
  }
  .formulePrice {
    display: flex;
    flex-direction: column;

    .price {
      display: flex;
      justify-content: center;
      align-items: baseline;
      .pricePerMonth {
        font-size: xx-large;
      }
    }
    .commitment {
      opacity: 0.5;
    }
  }
}

.borderStyleMainContainer {
  border: 'solid 3px #2ad63e';
}

.checkBoxOff {
  color: #2ad63e;
  visibility: hidden;
}
.checkBoxOn {
  color: #2ad63e;
  visibility: visible;
}
