.cardContainer {
  display: flex;
  flex-direction: column;
  margin-top: 6%;
  justify-content: space-evenly;
  height: 30vh;
  .recipientsRecap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    .nameAndImg {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 35%;
      .recipientImg {
        width: 35%;
      }
      .recipientIdentification {
        display: flex;
        width: 60%;
        justify-content: space-around;
        font-size: x-large;
      }
    }
    .recipientsCare {
      display: flex;
      width: 30%;
      justify-content: space-around;
      align-items: baseline;
      .number {
        font-size: 50px;
      }
    }
  }
}
