.subscriberWelcomePageBeneficiariesImageMain {
  width: 100%;
  height: 100vh;
  .subscriberWelcomePageBeneficiariesImagePortrait {
    display: flex;
    margin-top: 13vh;
    align-items: center;
    margin-bottom: 5%;
    img {
      width: 10%;
      margin-left: 4%;
    }
    .subscriberWelcomePageBeneficiariesImagePortraitdetailBreak {
      display: flex;
      margin-left: 4%;
      width: 30%;
      .subscriberWelcomePageBeneficiariesImagePortraitdetailText2 {
        margin-left: 10px;
      }
    }
  }
  .mainCoordinatesContainer {
    background-color: white;
    width: 75%;
    margin-left: 6%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .coordinates {
      display: flex;
      justify-content: space-between;
      margin: 4%;
      width: 90%;
      .coordinatesWord {
        font-weight: bold;
      }
      .clientId {
        opacity: 50%;
      }
    }
    .recipientContainer {
      display: flex;
      justify-content: space-around;
      align-items: center;
      border-bottom: 1px solid black;
      width: 80%;
      .recipient {
        display: flex;
        flex-direction: column;
        width: 60%;
        .name {
          display: flex;
          .lastName {
            margin-left: 4px;
          }
        }
      }
      .modify {
        text-decoration: underline;
        height: 3vh;
      }
    }
    .recipientContainer2 {
      display: flex;
      justify-content: space-around;
      align-items: center;
      border-bottom: 1px solid black;
      width: 80%;
      .recipient {
        display: flex;
        flex-direction: column;
        width: 60%;
        .name {
          display: flex;
          .lastName {
            margin-left: 4px;
          }
        }
      }
      .modify {
        text-decoration: underline;
        height: 3vh;
      }
    }
    .recipientContainer3 {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 80%;
      .recipient {
        display: flex;
        flex-direction: column;
        width: 60%;
        .name {
          display: flex;
          .lastName {
            margin-left: 4px;
          }
        }
      }
      .modify {
        text-decoration: underline;
        height: 3vh;
      }
    }
  }
}
