@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Work+Sans');

.subscriberWelcomePageBeneficiariesImageMain {
  display: flex;
  width: 70%;
  justify-content: space-around;
  .subscriberWelcomePageBeneficiariesImagePortrait {
    .subscriberWelcomePageBeneficiariesImagePortraitdetail {
      width: 150px;
      margin-left: 2vh;
    }
    .subscriberWelcomePageBeneficiariesImagePortraitdetailText {
      font-family: 'work sans', sans-serif;
      text-align: center;
      font-weight: 400;
      font-size: 1.3em;
      margin-left: 1vw;
    }
  }
}

.subscriberWelcomePageBeneficiariesImagePortraitdetailBreak {
  flex-direction: row;
  display: flex;
  justify-content: space-around;
}