@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@600&display=swap');

.mainConceptCard {
  display: flex;
  flex-direction: column;
  align-items: center;;
  justify-content: space-evenly;
  font-family: 'Work Sans', sans-serif;
  margin: 10%;

  h2 {
    font-size: 300%;
  }
}

.resume {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  margin-top: 1%;

  p {
    font-size: 130%;
    padding-right: 20%;
    padding-left: 20%;
  }
}

.resumeTitle {
  font-size: 170%;
  margin-top: 3%;
}

.cardContainer {
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
  margin: 10% 0 10% 0;
}

.conceptTitle2 {
  margin-top: 5%;
  font-size: 40px;
  font-weight: bold;
}

.BtnContainer {
  display: grid;
grid-template: "a b c" 14vh "d e f" 14vh;
width: 80%;
justify-content: space-around;
}
