@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@600&display=swap');

.mainContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'Work Sans', sans-serif;
  height: 100vh;
  justify-content: space-around;
}

.text {
  flex-direction: column;
  justify-content: space-between;
  margin: 5%;
  height: 60vh;
}

.title {
  font-size: 2.8rem;
}
.titleEnd {
  font-size: 2.8rem;
  margin-bottom: 1em;
}

.hightlight {
  background: url(src/assets/brush-stroke-banner-6.svg?color=2AD63E);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 2px 10px;
}

.mainImg {
  width: 650px;
  margin-top: 14vh;
}

.description {
  font-size: 1.3rem;
  margin-top: 1em;
}

.buttons {
  flex-grow: 1;
  display: flex;
  gap: 5%;
  justify-content: flex-start;
  align-items: center;

  .offers {
    height: 6vh;
    width: 270px;
    border-radius: 30px;
    border: none;
    background-color: #ffbc00;
    font-size: 1.2em;
    font-weight: bold;
    margin-right: 10%;
    margin-top: 3em;
    cursor: pointer;
  }
}
