@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

.formContainer {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: 'Open sans', sans-serif;
  background-color: white;
  border-radius: 20px;

  p {
    margin: 2% 0 4% 5%;
  }

  .formGroup {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    div {
      display: flex;
      flex-direction: column;

      input {
        width: 20vw;
        height: 4vh;
        border: 1px solid lightgray;
        border-radius: 10px;
        padding: 2% 0 2% 3%;
        font-size: 1.2rem;
      }

      input[type='email'] {
        width: 45vw;
        padding: 1% 0 1% 1.5%;
      }

      .isInvalid {
        color: red;
        border-color: red;
      }
    }
  }
}

.formBtn {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 5%;

  .btnBack {
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 50px;
    background-color: #dadada;
    font-family: 'Open sans', sans-serif;
    font-size: 1rem;
    color: #838383;
    cursor: pointer;
  }

  .btnNext {
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 50px;
    background-color: #37c948;
    font-family: 'Open sans', sans-serif;
    font-size: 1rem;
    cursor: pointer;
  }
}
